
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
   
    background-color: #d6d3d3;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    /*padding consider extra space bcz widht is 100% thats why getting scrool now u add box-sizing*/
    box-sizing: border-box;
    justify-content: space-between;
}
.logo{
    width: 10%;
    height: 70px;
   /* background-color: yellow;*/
    display: flex;
    justify-content: center;
    align-items:center ;
    /* google font mo*/
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
}
.navigation{
    width: 50%;
    height: 70px;
   /*background-color: blue;*/
}
.nav-links{
    width: 100%;
  /* background-color: red;*/
    height: 70px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat',sans-serif;
    font-size: 17px;
}


/*banner css*/
.banner
{
    width: 100%;
    height: 500px;
    background-color: #d6d3d3;
    /*padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    u can write this one line
    padding: top-bottom left-rigth;
    */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
  
    display: flex;
   box-sizing: border-box;


}
.details{
    width: 60%;
    padding: 20px;
   /* background-color: white;*/
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}
.t1{
    
    font-size: 60px;
}
.t2{
    
    color: rgb(111, 111, 220);
 
    font-size: 70px;
    font-weight: 700;
}
.desc{
    font-size: 20px;
}
.cont{
    padding: 15px  40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: rgb(111, 111, 220);
    color: white;
    border:2px solid rgb(111, 111, 220);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    
}
.cont:hover{
    background-color: transparent;
    color: rgb(111, 111, 220);;
}
.person{
 /* align-self: flex-end;*/
 border-radius: 50px;
   
    background-color: rgb(111, 111, 220);
    padding: 30px;
    box-sizing: border-box;
}
.per-img{
    height: 400px;
}
.ser{
    width: 100%;
    padding: 30px 10%;
    box-sizing: border-box;
   /* background-color: red;*/
}
.ser-title{
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.ser-child{
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    margin-top: 30px;
    display: flex;
    column-gap: 4%;
    
}
.service{
    width: 35%;
   /* background-color: yellow;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Montserrat',sans-serif;
    row-gap: 20px;
    box-shadow: 0 0 2px gray;
    box-sizing: border-box;
}
.icon{

    padding: 50px;
    font-size: 70px;
    align-self: center;
    color: #b565dd;
}

.service-text{
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view{
    padding: 10px 20px;
    background-color: rgb(111, 111, 220);
    color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.achiev{
   
    padding: 30px 10%;
    background-color:#e0dddd;
   
    font-family: 'Montserrat',sans-serif;
   
}
.ach1{
       width: 22%;
       height: 200px;
       /*background-color: yellow; */
       display: flex;
       padding: 30px;
       flex-direction: column;
       align-items: center;
       row-gap:10px ;
      
}
.number{
    font-size: 35px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    

}
.achiev-child{
    column-gap: 2.5%;
}
.tag{
    font-size: 14px;
    

}
/*quote css*/
.quote{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

}
.overlay
{
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    background-color: rgba(0,0,0, 0.7);
display: flex;
align-items: center;
justify-content: space-around;
}
.quote-area{
    width: 100%;
    padding: 30px 0px;
   /* background-color: white;*/
    display: flex;
    flex-direction: column;
    align-items: center;


}
.inp-email{
    width: 90%;
    height: 60px;
    border: 2px solid rgb(254, 254, 254);
    font-size: 18px;
    text-indent: 20px;
    border-radius: 10px;
    background-color: transparent;
    
}
::placeholder{
    color: white;
}

/*client css*/
.client{
    width: 100%;
    padding: 30px 10%;
   /* background-color: red;*/
}
.client.ser-child{
/*background-color: white;*/
column-gap: 5%;
flex-wrap: wrap;
align-items:center ;
row-gap: 30px;

}
.client-img{
    width: 15%;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
}
.client-img:hover{

    filter:none;
    transform: scale(1.3);
}

/*footer css*/
.foo{
    position: absolute;
    width: 100%;
    padding: 30px 10%;
   background-color: #d6d3d3;
   color: white;
   font-family: 'Montserrat',sans-serif;
}
.foot1{
    width: 22%;
    padding: 20px 50px;
   /* background-color: gray;*/
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer-list{
    color: #000000;
    text-decoration: nonn;

    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;

}
.map1
{
    width: 46%;
    padding: 0;
    
}
/*font-family: 'Montserrat',sans-serif;*/